<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877862471836-30qvm00i3eeo2ap83dn3ik0bskfbtmge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877862471836-30qvm00i3eeo2ap83dn3ik0bskfbtmge</string>
	<key>API_KEY</key>
	<string>AIzaSyAGDDuHrLsE1AumSl9Uc4E6ZxH6ssIhR44</string>
	<key>GCM_SENDER_ID</key>
	<string>877862471836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nakes.vissit.in</string>
	<key>PROJECT_ID</key>
	<string>nakes-vissitin</string>
	<key>STORAGE_BUCKET</key>
	<string>nakes-vissitin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877862471836:ios:cd088dffd62466c1f2c559</string>
</dict>
</plist>